<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Request</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
        <h3>Add Request & Sub Request Types</h3>

            <div class="form-group">
                <label for="requestType">Request Type:</label>
                <input type="text" id="requestType" name="requestType" required>
            </div>
            <div class="form-group">
                <label for="subRequestType">Sub Request Type:</label>
                <input type="text" id="subRequestType" name="subRequestType">
            </div>
            <button type="submit" class="button-class">Save</button>

         <div class="result-section" id="resultSection">
            <p id="resultMessage"></p>
        </div>


</body>
</html>